<div>
  <h1>
    <%= @the_board.name %>
  </h1>

  <div>
    <a href="/boards">
      Go back
    </a>
  </div>

  <form action="/insert_post" method="post">
    <div>
      <label for="title">
        Title
      </label>
      <input type="text" id="title" name="query_title">
    </div>

    <div>
      <label for="body">
        Body
      </label>
      <input type="text" id="body" name="query_body">
    </div>

    <div>
      <label for="expires_on">
        Expires on
      </label>
      <input type="date" id="expires_on" name="query_expires_on">
    </div>

    <div>
      <label for="board_id">
      </label>
      <input type="hidden" id="board_id" name="query_board_id" value="<%= @the_board.id %>">
    </div>

    <button>Add post</button>
  </form>

  <hr>

  <div>
    <table border="1">
      <tr>
        <th>
          Post
        </th>
        <th>
          Created at
        </th>
        <th>
          Updated at
        </th>
        <th>
        </th>
      </tr>

      <% @list_of_posts.each do |a_post| %>
        <tr>
          <td>
            <%= a_post.title %>
          </td>
          <td>
            Expires on <%= a_post.expires_on %>
          </td>
          <td>
            <%= a_post.body %>
          </td>
          <td>
            Posted on <%= a_post.created_at %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
